# Simple http config

http:
  services:
    apt_us_service:
      loadBalancer:
        servers:
          - url: "http://${APT_HOST}:${APT_PORT}/"
    rpm_service:
      loadBalancer:
        servers:
          - url: "http://${RPM_HOST}:${RPM_PORT}/"

  routers:
    apt_us_router:
      rule: "Host(`us.archive.ubuntu.com`)"
      service: "apt_us_service"
      entryPoints:
        - "web_ep"
    apt_router:
      rule: "Host(`archive.ubuntu.com`)"
      service: "apt_us_service"
      entryPoints:
        - "web_ep"
      middlewares:
        - "apt_us_service"
    rpm_router:
      rule: "Host(`mirror.cs.vt.edu`)"
      service: "rpm_service"
      entryPoints:
        - "web_ep"

  middlewares:
    apt_us_service:
      headers:
        customRequestHeaders:
          Host: "us.archive.ubuntu.com"
